.about {
  @include section-width;
  z-index: 13;
  position: relative;
  background-color: $additional-hover-color;
  border-radius: 0 0 30px 30px;

  @media (min-width: $tablet-width) {
    border-radius: 0 0 60px 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 60px;
    margin-top: -60px;
  }
}

.about__inner {
  position: relative;
  padding-top: 72px;
  padding-left: 47px;
  padding-right: 25px;
  padding-bottom: 81px;
  background-color: $additional-hover-color;
  background-image: url("../img/about-mobile@1x.png");
  background-size: 292px 352px;
  background-repeat: no-repeat;
  background-position: 18px bottom;
  color: $additional-background-color;
  border-radius: 0 0 30px 30px;

  @media (min-width: $tablet-width) {
    padding-top: 135px;
    padding-left: 74px;
    padding-right: 74px;
    padding-bottom: 48px;

    background-image: url("../img/about-tablet@1x.png");
    background-repeat: no-repeat;
    background-size: 375px 545px;
    background-position: 385px 145px;

    border-radius: 0 0 60px 60px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 135px;
    padding-right: 60px;
    padding-bottom: 122px;

    background-image: url("../img/about-desktop@1x.png");
    background-size: 645px 665px;
    background-position: 745px 85px;
    background-repeat: no-repeat;
  }
}

.about__header {
  @include section-header-text;

  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.about__description {
  width: 210px;

  @include main-text;

  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    width: 300px;
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    width: 620px;
    margin-bottom: 40px;
  }
}

.about__slogan {
  width: 210px;

  @include accent-text;

  @media (min-width: $tablet-width) {
    width: 300px;
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    width: 410px;
    margin-bottom: 85px;
  }
}

.about__button {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-bottom: 40px;
  }
}
