.about {
  @include section-width;
  position: relative;
  background: linear-gradient(to top, $main-background-color 40px, $additional-hover-color 40px);
}

.about::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: $additional-hover-color;
  border-radius: 0 0 40px 40px;
}

.about__inner {
  position: relative;
  padding-top: 65px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 80px;
  background-color: $additional-hover-color;
  background-image: url("../img/about-mobile@1x.png");
  background-size: 292px 352px;
  background-repeat: no-repeat;
  background-position: bottom;
  color: $additional-background-color;
  border-radius: 0 0 40px 40px;

  @media (min-width: $tablet-width) {
    padding-top: 130px;
    padding-left: 40px;
    padding-right: 40px;

    background-image: url("../img/about-tablet@1x.png");
    background-repeat: no-repeat;
    background-size: 350px 450px;
    background-position: right;
  }

  @media (min-width: $desktop-width) {
    padding-left: 60px;
    padding-right: 60px;

    background-image: url("../img/about-desktop@1x.png");
    background-size: 630px 665px;
    background-repeat: no-repeat;
    background-position: right;
  }
}

.about__header {
  @include section-header-text;
}

.about__description {
  width: 210px;

  @include main-text;

  @media (min-width: $tablet-width) {
    width: 300px;
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    width: 620px;
    margin-bottom: 40px;
  }
}

.about__slogan {
  width: 210px;

  @include accent-text;

  @media (min-width: $tablet-width) {
    width: 300px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 410px;
    margin-bottom: 85px;
  }
}

.about__button {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-bottom: 40px;
  }
}
