.about {
  @include section-width;
  background-color: $additional-hover-color;
  background-image: url("../img/about-mobile@1x.png");
  background-size: 292px 352px;
  background-repeat: no-repeat;
  border-radius: 0 0 40px 40px;
}

.about__inner {
  padding: 0 60px 70px 50px;

  color: $additional-background-color;
}

.about__header {
  padding-top: 20px;
}

.about__description {
  width: 210px;
}

.about__slogan {
  width: 210px;
}

.about__button {
  display: none;
}

@media (min-width: $tablet-width) {
  .about {
    background-image: url("../img/about-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: right;
  }

  .about__description {
    width: 300px;
  }

  .about__slogan {
    width: 300px;
  }

  .about__button {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .about {
    background-image: url("../img/about-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: right;
  }

  .about__description {
    width: 610px;
  }

  .about__slogan {
    width: 410px;
  }
}
