.button {
  box-sizing: border-box;
  display: inline-block;
  width: 270px;
  height: 62px;
  padding-left: 24px;
  padding-top: 24px;

  color: $additional-accent-color;
  font-family: $main-ffamily;
  font-size: $additional-fsize-mobile;
  font-weight: $bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  background-color: $accent-color;

  border: none;
  border-radius: 10px;

  @media(min-width: $tablet-width) {
    width: 618px;
    height: 81px;
    font-size: $accent-fsize-tablet;
    padding-left: 34px;
    padding-top: 30px;
  }

  @media(min-width: $tablet-width) {
    width: 274px;
  }
}

.button:hover {
  background-color: $accent-hover-color;
}

.button:active {
  color: $additional-accent-active-color;
}
