.button-main {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: 270px;
  height: 62px;
  padding-left: 24px;
  padding-top: 24px;

  color: $additional-accent-color;
  font-family: $main-ffamily;
  font-size: $additional-fsize-mobile;
  font-weight: $bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  background-color: $accent-color;

  border: none;
  border-radius: 10px;

    &::before {
      position: absolute;
      content: "";
      top: 20px;
      right: 23px;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 14px solid #1d2e5b;
    }


&:hover, &:focus {
  background-color: $accent-hover-color;
}

&:active {
  color: $additional-accent-active-color;
}

&:--outline {
  border: 3px solid $additional-accent-color;
}

  @media (min-width: $tablet-width) {
    width: 618px;
    height: 81px;
    font-size: $accent-fsize-tablet;
    padding-left: 34px;
    padding-top: 30px;
  }

  @media (min-width: $tablet-width) {
    width: 274px;
  }
}

.button-accent {
  width: 189px;
  min-height: 40px;
  border-radius: 20px;

  color: $additional-accent-color;
  font-family: $main-ffamily;
  font-size: $additional-fsize-mobile;
  font-weight: $bold;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  background-color: $accent-color;

  @media (min-width: $tablet-width) {
    height: 50px;
  }
}