/* MONTH */

.calendar__month-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-start;

  @media (min-width: $tablet-width) {
    width: 533px;
  }

  @media (min-width: $desktop-width) {
    width: 1000px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 221px;
    height: 1px;
    background-color: #d4d9eb;
    top: -10px;
    left: 0;

    @media (min-width: $tablet-width) {
      width: 531px;
      top: -29px;
    }

    @media (min-width: $desktop-width) {
      width: 1000px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 221px;
    height: 1px;
    background-color: #d4d9eb;
    top: 30px;
    left: 0;

    @media (min-width: $tablet-width) {
      width: 531px;
      top: 56px;
    }

    @media (min-width: $desktop-width) {
      width: 1000px;
    }
  }
}

.calendar__month {
  margin: 0;
  font-size: $detail-fsize-tablet;
  font-weight: $bold;
  line-height: 1;
  color: $accent-title-color;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: normal;
  }
}

.calendar__month-button {
  width: 9px;
  height: 17px;
  background-repeat: no-repeat;
  background-color: $additional-background-color;
  border: none;
  opacity: 0.3;

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.1;
  }

  @media (min-width: $tablet-width) {
    width: 15px;
    height: 28px;
  }
}

.calendar__month-button--prev {
  margin-right: auto;
  background-image: url("../img/month-arrow-left.svg");

  @media (min-width: $tablet-width) {
    margin-left: 20px;
  }
}

.calendar__month-button--next {
  margin-left: auto;
  background-image: url("../img/month-arrow-right.svg");

  @media (min-width: $tablet-width) {
    margin-right: 20px;
  }
}


/* DAY OF WEEK */
.calendar__days {
  @include reset-list;

  display: flex;

  margin-bottom: 7px;

  @media (min-width: $tablet-width) {
    margin-bottom: 3px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
  }
}

.calendar__day {
  width: 31px;

  text-align: center;
  font-size: $detail-fsize-mobile;
  line-height: 1.29;
  color: $main-text-color;

  &--weekend {
    color: #ff5c23;
  }

  @media (min-width: $tablet-width) {
    width: 76px;

    font-size: $additional-fsize-mobile;
    line-height: 1.67;
    letter-spacing: 1.8px;
  }

  @media (min-width: $desktop-width) {
    width: 142px;
    padding-left: 17px;

    text-align: left;
  }
}

.calendar__letter-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

/* DATES */
.calendar__dates {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
}

.calendar__date {
  width: 31px;
  height: 31px;
  padding-top: 7px;
  padding-bottom: 7px;

  font-size: $detail-fsize-mobile;
  line-height: 1.29;
  text-align: center;

  color: $accent-title-color;
  background-color: $main-background-color;
  border: 1px solid $border-color;

  cursor: pointer;

  &--selected {
    color: $additional-background-color;
    background-color: $accent-title-color;
  }

  &--disabled {
    color: rgba(68, 68, 68, 0.3);
    background-color: $additional-background-color;
  }

  @media (min-width: $tablet-width) {
    width: 76px;
    height: 69px;
    padding-top: 28px;
    padding-bottom: 28px;

    font-size: $detail-fsize-tablet;
    font-weight: $medium;
    line-height: 0.9;
    letter-spacing: 2px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 142px;
    height: 71px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 20px;
    padding-right: 16px;

    font-size: $additional-fsize-mobile;
    line-height: 1.67;
    letter-spacing: 1.8px;
    text-align: left;

    &--current {
      &::before {
        position: absolute;
        content: "Заезд";
        top: 30px;
        left: 15px;
        font-family: $main-ffamily;
        font-size: $additional-fsize-mobile;
        line-height: 30px;
        letter-spacing: 1.8px;
        color: $additional-background-color;
      }
    }

    &--last {
      &::before {
        position: absolute;
        content: "Выезд";
        top: 30px;
        left: 15px;
        font-family: $main-ffamily;
        font-size: $additional-fsize-mobile;
        line-height: 30px;
        letter-spacing: 1.8px;
        color: $additional-background-color;
      }
    }
  }

  &:hover,
  &:focus,
  &--current {
    color: $additional-background-color;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: $accent-title-color;
    border: 4px solid #ff5c23;

    @media (min-width: $tablet-width) {
      padding-top: 24px;
      padding-bottom: 24px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 4px;
      padding-bottom: 16px;
      padding-left: 12px;
    }
  }
}
