.companion-filters {
  width: 270px;
  padding: 25px;
  margin-bottom: 28px;
  background-color: $accent-color;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    width: 688px;
    padding: 35px;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    padding: 45px;
  }
}

.companion-filters__item {
  position: relative;
  padding: 0;
  border: none;
  display: flex;
  flex-direction: column;

  &::before {
    position: absolute;
    content: "";
    top: -10px;
    left: 0;
    width: 220px;
    height: 1px;
    background-color: $accent-detail-color;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

.companion-filters__name {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 20px;
  font-weight: $bold;
  text-transform: uppercase;
}

.companion-filters__item--hidden .companion-filters__item-inner {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.companion-filters__item-inner {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.companion-filters__item-button {
  position: absolute;
  content: "";
  top: 2px;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  cursor: pointer;

  &--show {
    border-top: 8px solid $additional-hover-color;
  }

  &--hide {
    border-bottom: 8px solid $additional-hover-color;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    &--show {
      border-top: 10px solid $additional-hover-color;
    }

    &--hide {
      border-bottom: 10px solid $additional-hover-color;
    }
  }
}


.companion-filters__label {
  position: relative;
  margin-bottom: 15px;
  font-size: 15px;
  padding-left: 25px;

  &::before {
    position: absolute;
    content: "";
    top: -3px;
    left: 0;
    width: 18px;
    height: 18px;
    background-color: $additional-background-color;
    border-radius: 4px;
  }
}

input[type="checkbox"]:checked + .companion-filters__label::after {
  position: absolute;
  content: "";
  top: 2px;
  left: 5px;
  width: 9px;
  height: 9px;
  background-image: url("../../img/tick.svg");
  background-repeat: no-repeat;
}

.companion-filters__button {
  width: 230px;
  margin: 0 auto;
  margin-top: 30px;

  @media (min-width: $tablet-width) {
    width: 618px;
  }

  @media (min-width: $desktop-width) {
    width: 196px;
  }
}
