.companion {
  position: relative;
  background-color: $additional-background-color;
  border-radius: 10px;
}

.companion__photo-wrapper {
  overflow: hidden;
  width: 270px;
  height: 270px;
  border-radius: 10px 10px 0 0;

  @media (min-width: $tablet-width) {
    width: 285px;
    height: 285px;
  }
}

.companion__details {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 157px;

  @media (min-width: $tablet-width) {
    min-height: 198px;
    width: 285px;
  }
}

.companion__name {
  margin: 0;
  margin-bottom: 15px;
  font-family: $main-ffamily;
  font-size: $accent-fsize-mobile;
  font-weight: $bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: $additional-accent-color;

  @media (min-width: $tablet-width) {
    font-size: $accent-fsize-tablet;
  }
}

.companion__tags {
  margin: 0;
  margin-bottom: 15px;
  display: inline-block;
  vertical-align: middle;
  width: 185px;
  font-family: $main-ffamily;
  font-size: $main-fsize-mobile;
  font-weight: $normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: center;
  color: $main-text-color;

  @media (min-width: $tablet-width) {
    width: 225px;
    font-size: $detail-fsize-tablet;
  }
}

.companion__level {
  z-index: 10;
  position: absolute;
  left: 10px;
  top: 10px;
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 60px;
  padding-top: 10px;
  vertical-align: center;

  font-family: $main-ffamily;
  font-size: 14px;
  font-weight: $normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: $additional-background-color;


  &::after {
    position: absolute;
    z-index: 2;
    content: "";
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 50%;
    opacity: 0.3;
  }
}

.companion__level-number {
  z-index: 3;
  font-size: 24px;
  font-weight: $bold;

  &::before {
    z-index: 10;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 60px;
    height: 60px;
    border: 3px solid;
    border-radius: 50%;
    border-color: transparent $accent-hover-color $accent-hover-color $accent-hover-color;
    transform: rotate(-45deg);
  }

  &::after {
    z-index: 10;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 60px;
    height: 60px;
    border: 3px solid;
    border-radius: 50%;
    border-color: transparent $accent-hover-color $accent-hover-color $accent-hover-color;
  }

  &--99::after {
    transform: rotate(30deg);
  }

  &--80::after {
    transform: rotate(-25deg);
  }
}


.companion__status {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  top: 28px;
  left: 54px;

  &--offline {
    background-color: $offline-color;
  }

  &--online {
    background-color: $online-color;
  }
}

.companion__countries {
  @include reset-list;
  height: 24px;
  width: 20px;
  margin-top: -12px;
  margin-bottom: 10px;
  background-color: red;
}

.companion__transport {
  @include reset-list;
  margin: 0 auto;
  margin-bottom: 22px;
  display: flex;
}

.companion__transport-item {
  margin-right: 10px;
  opacity: 0.15;
}

.companion__transport-item:last-of-type {
  margin-right: 0;
}

.companion__transport-item--selected {
  opacity: 1;
}

.companion__transport-item svg {
  fill: $accent-title-color;
}
