.companion-filters {
  width: 270px;
  padding: 25px;
  padding-top: 25px;
  padding-bottom: 22px;
  margin-bottom: 28px;
  background-color: $accent-color;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    width: 688px;
    padding: 35px;
    padding-top: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    padding: 45px;
  }
}

.companion-filters__header {
  margin: 0;
  margin-bottom: 35px;
  font-size: 22.5px;
  font-weight: $bold;
  line-height: 22.5px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 80px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
  }

}

.companion-filters__item {
  position: relative;
  padding: 0;
  padding-bottom: 10px;
  border: none;
  display: flex;
  flex-direction: column;

  &::before {
    position: absolute;
    content: "";
    top: -10px;
    left: 0;
    width: 220px;
    height: 1px;
    background-color: $accent-detail-color;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

.companion-filters__name {
  margin-bottom: 14px;
  font-weight: $bold;
  text-transform: uppercase;
}

.companion-filters__item--hidden .companion-filters__item-inner {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.companion-filters__item-inner {
  @include reset-list;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }

  &--transport {
    flex-direction: row;
    margin-left: 2px;
    margin-bottom: 13px;
  }

  &--level {
    padding-bottom: 5px;
  }
}

.companion-filters__field {
  margin-bottom: 13px;
}

.companion-filters__item-button {
  position: absolute;
  content: "";
  top: 6px;
  right: -2px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;

  cursor: pointer;

  &--show {
    border-top: 4px solid $additional-hover-color;
  }

  &--hide {
    border-bottom: 4px solid $additional-hover-color;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;

    &--show {
      border-top: 10px solid $additional-hover-color;
    }

    &--hide {
      border-bottom: 10px solid $additional-hover-color;
    }
  }
}


.companion-filters__label {
  position: relative;
  margin-bottom: 15px;
  font-size: 15px;
  padding-left: 25px;

  &::before {
    position: absolute;
    content: "";
    top: -3px;
    left: -2px;
    width: 18px;
    height: 18px;
    background-color: $additional-background-color;
    border-radius: 4px;
  }
}

.companion-filters__transport-label {
  @media (min-width: $tablet-width) {
    margin-right: 13px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked+.companion-filters__label::after {
  position: absolute;
  content: "";
  top: 2px;
  left: 5px;
  width: 9px;
  height: 9px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
}


.companion-filters__button {
  width: 230px;
  margin: 0 auto;
  margin-top: 30px;

  @media (min-width: $tablet-width) {
    width: 618px;
  }

  @media (min-width: $desktop-width) {
    width: 196px;
  }
}

/* LEVEL */
.companion-filters__level-controls {
  width: 222px;
  height: 35px;
  margin-bottom: 23px;

  display: flex;
  border: 1px solid #cbced9;
  background-color: $additional-background-color;

  @media (min-width: $tablet-width) {
    width: 150px;
    height: 46px;
  }

  @media (min-width: $desktop-width) {
    width: 192px;
  }
}

.companion-filters__level-label {
  width: 111px;
  height: 35px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 75px;
    height: 46px;
  }

  @media (min-width: $desktop-width) {
    width: 96px;
  }
}

.companion-filters__level-input {
  width: 40px;
  height: 30px;
  font-family: $main-ffamily;
  font-size: 15px;
  color: #1d2e5b;
  font-weight: $medium;
  line-height: 13.5px;
  letter-spacing: 1.5px;
  cursor: pointer;
  border: none;
  text-align: center;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    width: 45px;
    height: 40px;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;
  }
}

.companion-filters__level-range-controls {
  position: relative;
}

.companion-filters__level-scale {
  position: relative;
  width: 220px;
  height: 2px;
  background-color: rgba(22, 49, 91, 0.2);
  border-radius: 0.5px;

  @media (min-width: $tablet-width) {
    width: 277px;
    height: 3px;
  }

  @media (min-width: $desktop-width) {
    width: 191px;
  }
}

.companion-filters__level-bar {
  position: absolute;
  content: "";
  width: 144px;
  top: 0;
  left: 72px;
  height: 2px;
  background-color: #1d2e5b;
  border-radius: 1px;

  @media (min-width: $tablet-width) {
    width: 201px;
    height: 3px;
    border-radius: 1.5px;
  }

  @media (min-width: $desktop-width) {
    width: 125px;
  }
}

.companion-filters__level-toggle {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #1d2e5b;
  border-radius: 50%;
  top: -4px;

  cursor: pointer;

  &--min {
    left: 68px;
  }

  &--max {
    right: 0px;
  }

  @media (min-width: $tablet-width) {
    width: 13px;
    height: 13px;
    top: -6px;
  }
}
