.companions {
  @include section-width;
  z-index: 11;
  margin-top: -60px;
  padding-top: 60px;
  position: relative;
  background-color: $additional-hover-color;
  border-radius: 0 0 30px 30px;
  color: $additional-background-color;

  @media (min-width: $tablet-width) {
    border-radius: 0 0 60px 60px;
  }
}


.companions__inner {
  position: relative;
  padding-top: 72px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 30px;
  border-radius: 0 0 30px 30px;

  background-image: url("../img/rogovaya-back-mobile@1x.png"), url("../img/smolov-back-desktop@1x.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 61px 71px, 143px 143px;
  background-position: -5px 311px, 152px 40px;

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    background-image: url("../img/rogovaya-back-mobile@2x.png"), url("../img/smolov-back-desktop@2x.png");
  }

  @media (min-width: $tablet-width) {
    padding-top: 140px;
    padding-left: 73px;
    padding-right: 72px;
    padding-bottom: 88px;

    background-image: url("../img/rogovaya-back-desktop@1x.png"), url("../img/smolov-back-desktop@1x.png"), url("../img/back-companions.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 285px 285px, 143px 143px, 213px 213px;
    background-position: 408px 80px, 40px 427px, 40px 80px;

    border-radius: 0 0 60px 60px;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/rogovaya-back-desktop@1x.png"), url("../img/smolov-back-desktop@2x.png"), url("../img/back-companions.png");
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 130px;
    padding-left: 130px;
    padding-bottom: 135px;
    padding-right: 130px;

    background-image: url("../img/rogovaya-back-desktop@1x.png"), url("../img/smolov-back-desktop@1x.png"), url("../img/back-companions.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 285px 285px, 143px 143px, 213px 213px;
    background-position: 190px 385px, 547px 135px, 40px 80px;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/rogovaya-back-desktop@2x.png"), url("../img/smolov-back-desktop@2x.png"), url("../img/back-companions.png");
    }
  }
}

.companions__header {
  @include section-header-text;
  margin-bottom: 20px;
  margin-left: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
    margin-left: 0;
  }
}

.companions__description {
  @include main-text;

  width: 215px;
  margin-bottom: 20px;
  margin-left: 24px;

  @media (min-width: $tablet-width) {
    width: 425px;
    margin-bottom: 40px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}

.companions__slogan {
  @include accent-text;
  width: 193px;
  margin-bottom: 56px;
  margin-left: 24px;

  @media (min-width: $tablet-width) {
    width: 260px;
    margin-bottom: 60px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
    margin-left: 0;
  }
}

.companions__list {
  @include reset-list;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: flex-start;
    width: 618px;
    margin: 0 auto;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    right: 70px;
    top: 135px;
  }
}

.companions__item {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;

    &:nth-of-type(1) {
      margin-right: 48px;
    }
  }

  @media (min-width: $desktop-width) {
    &:nth-of-type(1) {
      margin-right: 60px;
    }
  }
}

.companions__button {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  width: 270px;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    width: 618px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    width: 280px;
  }
}
