.companions {
  @include section-width;
  position: relative;
  padding-bottom: 40px;
  background: linear-gradient(to top, $main-background-color 40px, $additional-hover-color 40px);
  color: $additional-background-color;
}

.companions::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: $additional-hover-color;
  border-radius: 0 0 40px 40px;
}

.companions__inner {
  position: relative;
  padding-top: 70px;
  border-radius: 0 0 40px 40px;

  @media (min-width: $desktop-width) {
    padding-top: 220px;
  }
}

.companions__header {
  @include section-header-text;
  margin-bottom: 20px;
  margin-left: 50px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    margin-left: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
    margin-left: 130px;
  }
}

.companins__description {
  @include main-text;
  width: 215px;
  margin-bottom: 25px;
  margin-left: 50px;

  @media (min-width: $tablet-width) {
    width: 425px;
    margin-bottom: 40px;
    margin-left: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 130px;
  }
}

.companions__slogan {
  @include accent-text;
  width: 193px;
  margin-bottom: 60px;
  margin-left: 50px;

  @media (min-width: $tablet-width) {
    width: 260px;
    margin-bottom: 60px;
    margin-left: 75px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
    margin-left: 130px;
  }
}

.companions__list {
  @include reset-list;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: flex-start;
    width: 618px;
    margin: 0 auto;
    margin-bottom: 110px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    right: 60px;
    top: 200px;
  }
}

.companions__item {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;

    &:nth-of-type(1) {
      margin-right: 48px;
    }
  }

  @media (min-width: $desktop-width) {
    &:nth-of-type(1) {
      margin-right: 60px;
    }
  }
}

.companions__button {
  display: block;
  margin: 0 auto;
  width: 270px;
  height: 62px;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    width: 618px;
    height: 81px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 135px;
    margin-left: 130px;
    width: 280px;
    height: 81px;
  }
}
