.contacts-list {
  @include reset-list;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.contacts-list__item {
  position: relative;
  margin-bottom: 30px;
  padding-left: 60px;
  font-family: $main-ffamily;
  font-size: 16px;
  font-weight: $bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  color: $additional-hover-color;

  &::before {
    position: absolute;
    content: "";
    top: -15px;
    left: 5px;
    width: 45px;
    height: 45px;
    background-color: #121936;
    border-radius: 50%;
  }

  &--login::before {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 28px;
    padding-left: 90px;

    &::before {
      top: -15px;
      width: 67px;
      height: 67px;
    }

    &--login {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 0;

    &--phone::before {
      background-color: #ff8d30;
    }

    &--phone:hover::before,
    &--phone:focus::before,
    &--phone:active::before {
      background-color: #f26926;
    }

    &--email::before {
      background-color: #ffbd30;
    }

    &--email:hover::before,
    &--email:focus::before,
    &--email:active::before {
      background-color: #ff8d30;
    }
  }
}
