.contacts-list {
  @include reset-list;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.contacts-list__item {
  position: relative;
  margin-bottom: 30px;

  display: flex;
  align-items: center;

  font-family: $main-ffamily;
  font-size: 16px;
  font-weight: $bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  color: $additional-hover-color;

  @media (min-width: $tablet-width) {
    font-size: 28px;

    &--login {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 0;

    &--phone::before {
      background-color: #ff8d30;
    }

    &--phone:hover::before,
    &--phone:focus::before,
    &--phone:active::before {
      background-color: #f26926;
    }

    &--email::before {
      background-color: #ffbd30;
    }

    &--email:hover::before,
    &--email:focus::before,
    &--email:active::before {
      background-color: #ff8d30;
    }
  }
}

.contacts-list__login {
  min-width: 270px;
}

.contacts-list__icon-wrapper {
  width: 45px;
  height: 45px;
  margin-right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #121936;
  border-radius: 50%;
}

.contacts-list__icon {
  fill: #ffd74b;
}
