.contacts-list {
  @include reset-list;
  @include container;
}

.contacts-list__item {
  font-family: $main-ffamily;
  font-size: 16px;
  font-weight: $bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: $additional-hover-color;
}
