.contacts-list {
  @include reset-list;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.contacts-list__item {
  &--login {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }

  @media (min-width: $tablet-width) {
    font-size: $main-fsize-tablet;

    &--login {
      display: none;
    }
  }
}

.contacts-list__link {
  position: relative;

  display: flex;
  align-items: center;

  font-family: $main-ffamily;
  font-size: $main-fsize-mobile;
  font-weight: $bold;
  line-height: 1.38;
  text-align: left;
  text-transform: uppercase;
  color: $additional-hover-color;

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: $main-fsize-tablet;
  }

}

.contacts-list__login {
  min-width: 270px;
}

.contacts-list__icon-wrapper {
  width: 45px;
  height: 45px;
  margin-right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #121936;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 67px;
    height: 67px;
  }
}

.contacts-list__icon {
  fill: $accent-color;

  @media (min-width: $tablet-width) {
    &--phone {
      width: 27px;
      height: 27px;
    }

    &--mail {
      width: 27px;
      height: 19px;
    }
  }
}
