.country {
  width: 270px;

  @media (min-width: $tablet-width) {
    width: 618px;

    display: flex;
    flex-direction: row-reverse;
  }

  @media (min-width: $desktop-width) {
    width: 560px;
    height: 140px;
  }
}

.country__wrapper {
  position: relative;
  min-height: 90px;
  padding: 20px 25px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  background-color: $additional-background-color;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.country__photo-wrapper {
  overflow: hidden;
  width: 270px;
  height: 110px;
  border-radius: 10px 10px 0 0;

  @media (min-width: $tablet-width) {
    width: 186px;
    height: 140px;
    border-radius: 0 20px 20px 0;
  }
}

.country__flag {
  position: absolute;
  top: -20px;
  left: 20px;
  width: 35px;
  height: 24px;

  @media (min-width: $tablet-width) {
    top: 10px;
    left: auto;
    right: -20px;
    width: 70px;
    height: 47px;
  }
}

.country__name {
  margin: 0;
  margin-right: auto;
  margin-bottom: 5px;
  order: -2;
  font-size: 21px;
  font-weight: $bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: $additional-accent-color;
}

.country__description,
.country__visitors {
  margin: 0;
  font-size: $main-fsize-mobile;
  font-weight: $medium;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;

  color: $main-text-color;
  opacity: 0.3;

  @media (min-width: $tablet-width) {
    font-size: $detail-fsize-tablet;
  }
}

.country__description {
  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }
}

.country__visitors {
  position: relative;
  order: -1;
  padding-left: 25px;

  &::before {
    position: absolute;
    content: "";
    top: 1px;
    left: 5px;
    width: 11px;
    height: 11px;
    background-image: url("../../img/user.svg");
    opacity: 0.3;

    @media (min-width: $tablet-width) {
      width: 20px;
      height: 20px;
      left: 0;
      top: 0;
    }
  }

  @media (min-width: $tablet-width) {
    order: 0;
  }
}
