.country-selects {
  position: relative;
  width: 100%;

  @media (min-width: $tablet-width) {
    &::before {
      position: absolute;
      content: "";
      width: 1px;
      height: 358px;
      background-color: #d4d9eb;
      top: -40px;
      right: 139px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 529px;
      height: 1px;
      background-color: #d6d9e6;
      top: -40px;
      left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      right: 220px;
    }

    &::after {
      width: 1010px;
    }
  }
}

.country-select {
  width: 100%;
  position: relative;
  display: flex;

  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
  }
}

.country-select__value-wrapper {
  width: 168px;
  position: relative;
  height: 42px;
  padding-top: 13px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 13px;

  border: 1px solid #cbced9;
  border-radius: 10px;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &::before {
    content: "";
    z-index: 10;
    top: 15px;
    right: -4px;
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #1d2e5b;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 15px;
      height: 15px;
      top: 25px;
      right: -30px;
    }

    @media (min-width: $desktop-width) {
      right: -57px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 49px;
    height: 36px;
    top: 0;
    right: 15px;
    background: linear-gradient(to left, $additional-background-color, rgba(255, 255, 255, 0));
  }

  @media (min-width: $tablet-width) {
    width: 370px;
    height: 70px;
    padding-top: 27px;
    padding-left: 27px;
    padding-right: 25px;
    padding-bottom: 24px;

    margin-right: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 730px;
    margin-right: 85px;
  }
}

.country-select__value {
  width: 133px;
  padding-right: 15px;
  font-size: 14px;
  font-weight: $medium;
  line-height: 1.29;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 290px;
    padding-right: 30px;
    font-size: 20px;
    line-height: 0.9;
    letter-spacing: 2px;
  }
}

.country-select__flag-wrapper {
  flex-shrink: 0;
  width: 37px + 16px;
  height: 26px + 16px;
  padding: 8px;
  border: 1px solid #cbced9;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 70px;
    height: 47px;
    padding-top: 12px;
    padding-bottom: 11px;
    border: none;
  }
}

.country-select__button {
  border: none;
  background: $additional-background-color;
  cursor: pointer;

  &--select {
    z-index: 3;
    width: 15px;
    height: 15px;

    background-image: url("../../img/dropdown-form.svg");
    background-repeat: no-repeat;
    background-position: 1px 4px;
    background-size: 12px 7px;

    opacity: 0.3;

    @media (min-width: $tablet-width) {
      width: 20px;
      height: 20px;
      background-size: 17px 9px;
      background-position: 1px 3px;
    }
  }

  &--select:hover,
  &--select:focus {
    opacity: 1;
  }

  &--select:active {
    opacity: 0.1;
  }

  &--delete {
    position: absolute;
    top: -8px;
    right: -8px;
    content: "";
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: #edeff6;
    background-image: url("../img/close.svg");
    background-repeat: no-repeat;
    background-size: 9px 9px;
    background-position: center;

    opacity: 0.2;

    @media (min-width: $tablet-width) {
      position: relative;
      top: auto;
      right: auto;
      background-color: transparent;
      background-size: 17px 17px;
      padding-top: 35px;
      padding-bottom: 35px;
      width: 17px;
      height: 17px;
      margin-left: auto;

      opacity: 0.2;

      &:hover,
      &:focus {
        opacity: 0.3;
      }

      &:active {
        opacity: 0.05;
      }
    }
  }
}

.country-select--empty .country-select__value-wrapper {
  width: 220px;
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: #959bb2;
  }

  &:active {
    color: $additional-background-color;
    background-color: #1d2e5b;
    border-color: #1d2e5b;
    border-radius: 4px 4px 0 0;
  }

  @media (min-width: $tablet-width) {
    width: 370px;
  }

  @media (min-width: $desktop-width) {
    width: 730px;
  }
}

.country-select--active .country-select__value-wrapper {
  color: $additional-background-color;
  background-color: #1d2e5b;
  border-color: #1d2e5b;
  border-radius: 4px 4px 0 0;
}

.country-select--empty .country-select__value-wrapper:active .country-select__button--select,
.country-select--active .country-select__button--select {

  background-image: url("../../img/close-white.svg");
  background-color: #1d2e5b;
  background-size: 9px 9px;

  @media (min-width: $tablet-width) {
    background-size: 17px 17px;
  }
}

.country-select--active .country-select__value-wrapper {
  &::before {
    display: none;
  }
}

.country-select--active .country-select__button--delete {
  display: none;
}

.country-select--empty .country-select__value-wrapper::before {
  right: 49px;
  background-color: $additional-background-color;
  border: 1px solid #cbced9;

  @media (min-width: $tablet-width) {
    right: -30px;
  }

  @media (min-width: $desktop-width) {
    right: -57px;
  }
}

.country-select--empty .country-select__value-wrapper::after {
  display: none;
}

.trip-form__add-country {
  position: relative;
  width: 220px;
  margin-bottom: 25px;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 50px;

  font-family: $main-ffamily;
  font-size: 14px;
  font-weight: $medium;
  line-height: 1.29;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  text-align: left;
  color: #1d2e5b;

  border: none;
  border-radius: 5px;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #edeff6;
  }

  &:active {
    color: rgba(29, 46, 91, 0.3);
    background-color: #edeff6;
  }

  &::after {
    position: absolute;
    content: "";
    top: 14px;
    right: 14px;
    width: 14px;
    height: 14px;
    background-image: url("../../img/qty-plus.svg");
    background-repeat: no-repeat;
    opacity: 0.2;
  }

  @media (min-width: $tablet-width) {
    width: 370px;
    padding-top: 36px;
    padding-left: 26px;
    padding-bottom: 20px;
    padding-right: 60px;

    font-size: 20px;
    line-height: 0.9;
    letter-spacing: 2px;

    &::before {
      position: absolute;
      content: "";
      top: 27px;
      right: -30px;
      width: 15px;
      height: 15px;
      background-color: #edeff6;
      border: 1px solid #cbced9;
      border-radius: 50%;
    }

    &::after {
      width: 20px;
      height: 20px;
      right: 26px;
      top: 25px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 730px;

    &::before {
      right: -57px;
    }

    &::after {
      width: 18px;
      height: 18px;
      right: 27px;
      top: 26px;
    }
  }
}

.country-select__letters {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 42px;

  width: 220px;
  min-height: 476px;

  background-color: $additional-background-color;
  box-shadow: 0 20px 50px 0 rgba(29, 46, 91, 0.1);

  @media (min-width: $tablet-width) {
    top: 70px;
    width: 575px;
    min-height: 476px;
    padding-top: 34px;
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 96px;
  }

  @media (min-width: $desktop-width) {
    width: 730px;
  }
}
