.country {
  @include container;
  width: 270px;
}

.country__wrapper {
  min-height: 90px;
  padding: 20px 25px;
  background-color: $additional-background-color;

}

.country__photo {
  border-radius: 10px 10px 0 0;
}

.country__name {
  font-size: 21px;
  font-weight: $bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: $additional-accent-color;
}

.country__description,
.country__visitors {
  font-size: 16px;
  font-weight: $medium;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;

  color: $main-text-color;
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .country {
    width: 618px;

    display: flex;
    flex-direction: row-reverse;
  }

  .country__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .country__photo {
    border-radius: 0 20px 20px 0;
  }
}

@media (min-width: $desktop-width) {
  .country {
    width: 560px;
  }

  .country__photo {
    min-width: 185px;
  }
}
