.country-letters {
  box-sizing: border-box;

  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  width: 226px;
  margin-bottom: 300px;

  color: $accent-title-color;

  border-right: 1px solid $border-color;
  border-top: 1px solid $border-color;

  @media (min-width: $tablet-width) {
    width: 340px;
    border: none;
    justify-content: space-between;
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 1190px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
}

.country-letters__item {
  width: 45px;
  height: 42px;
  padding-top: 15px;

  font-size: $detail-fsize-mobile;
  font-weight: $medium;
  text-align: center;

  background-color: $additional-background-color;
  border-left: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  &--selected {
    color: $additional-background-color;
    background-color: $accent-title-color;
    border: 1px solid $accent-title-color;
  }

  &--tablet-hidden {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--desktop-hidden {
    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    height: 60px;
    width: 60px;

    font-size: 60px;
    font-weight: $bold;
    text-align: center;
    border: none;
    background: none;

    opacity: 0.2;

    &--selected {
      color: $accent-title-color;
      background: none;
      border: none;
      opacity: 1;
    }
  }

  @media (min-width: $desktop-width) {
    width: 195px;
    padding-top: 0;
    margin-bottom: 30px;
    height: auto;
    opacity: 1;
    text-align: left;
  }
}


.country-letters__counry-list {
  display: none;

  @include reset-list;

  font-size: $main-fsize-mobile;
  font-weight: $normal;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: $detail-fsize-tablet;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 195px;
    margin-bottom: 70px;
  }
}

.country-letters__item--selected .country-letters__counry-list {
  display: block;
  width: 150px;
  position: relative;
  top: 250px;
  margin-bottom: 30px;

  color: $accent-title-color;

  @media (min-width: $tablet-width) {
    top: -60px;
    left: 420px;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    left: 0;
  }
}
