.country-filters {
  @include section-width;
  margin-bottom: 24px;
  position: relative;
  min-height: 200px; // remove later
  background: linear-gradient(to top, $main-background-color 40px, $accent-background-color 40px);
  border-radius: 0 0 20px 20px;
}

.country-filters::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: $accent-background-color;
  border-radius: 0 0 40px 40px;
}

.country-filters__inner {
  position: relative;
  z-index: 2;
  padding-top: 65px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 80px;
  background-color: $accent-background-color;
  color: $additional-hover-color;
  border-radius: 0 0 40px 40px;

  @media (min-width: $tablet-width) {
    padding-top: 130px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.country-filters__hide-button {
  display: block;
  width: 270px;
  min-height: 40px;
  padding-top: 6px;
  padding-bottom: 5px;

  color: $additional-accent-color;
  font-size: 16.5px;
  font-weight: $bold;
  line-height: 1.79;
  text-align: center;
  text-transform: uppercase;
  border-radius: 20px;
  background-color: $detail-color;
}

.country-filters__region-list {
  @include reset-list;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.country-filters__region-item {
  margin-bottom: 10px;
  opacity: 0.3;

  &--selected {
    opacity: 1;
  }

  @media (min-width: $tablet-width) {
    margin-right: 25px;
  }
}

.country-filters__region-link {
  font-weight: $bold;
  text-transform: uppercase;
}
