.country-letters {
  box-sizing: border-box;

  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  width: 226px;
  margin-bottom: 300px;

  color: $accent-title-color;

  border-right: 1px solid $border-color;
  border-top: 1px solid $border-color;

  @media (min-width: $tablet-width) {
    width: 340px;
    border: none;
    justify-content: space-between;
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 1250px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }
}

.country-letters__item {
  width: 45px;
  height: 42px;
  padding-top: 14px;
  padding-bottom: 10px;

  font-size: $detail-fsize-mobile;
  font-weight: $medium;
  text-align: center;

  background-color: $additional-background-color;
  border-left: 1px solid $border-color;
  border-bottom: 1px solid $border-color;

  cursor: pointer;

  &--selected {
    color: $additional-background-color;
    background-color: $accent-title-color;
    border: 1px solid $accent-title-color;
  }

  &--tablet-hidden {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--desktop-hidden {
    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &:hover,
  &:focus {
    background-color: #edeff6;
  }

  &:active {
    color: rgba(29, 46, 91, 0.3);
    background-color: #edeff6;
  }

  @media (min-width: $tablet-width) {
    height: 60px;
    width: 60px;

    font-size: 60px;
    font-weight: $bold;
    text-align: center;
    border: none;
    background: none;

    opacity: 0.2;

    &--selected {
      color: $accent-title-color;
      background: none;
      border: none;
      opacity: 1;
    }

    &:hover,
    &:focus {
      opacity: 1;
      color: rgba(29, 46, 91, 0.7);
      background-color: transparent;
    }

    &:active {
      opacity: 1;
      color: rgba(29, 46, 91, 0.3);
      background-color: transparent;
    }
  }

  @media (min-width: $desktop-width) {
    width: 200px;
    padding-top: 0;
    margin-bottom: 30px;
    margin-right: 5px;
    height: auto;
    opacity: 1;
    text-align: left;
  }
}


.country-letters__country-list {
  display: none;

  @include reset-list;

  font-size: $main-fsize-mobile;
  font-weight: $normal;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: $detail-fsize-tablet;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 200px;
    margin-bottom: 26px;
    padding-top: 12px;
  }
}

.country-letters__item--selected .country-letters__country-list {
  display: block;
  width: 150px;
  position: relative;
  top: 250px;
  margin-bottom: 30px;

  color: $accent-title-color;

  @media (min-width: $tablet-width) {
    top: -60px;
    left: 420px;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    left: 0;
    width: 200px;
  }
}

.country-letters__country-name-link {
  font-family: $main-ffamily;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &:hover,
  &:focus {
    color: #1d2e5b;
  }

  &:active {
    color: #1d2e5b;
    opacity: 0.3;
  }
}
