.destinations {
  @include section-width;
  position: relative;
  z-index: 12;
  margin-top: -60px;
  padding-top: 60px;
  position: relative;
  background-color: $main-background-color;
  border-radius: 0 0 30px 30px;

  @media (min-width: $tablet-width) {
    border-radius: 0 0 60px 60px;
  }
}


.destinations__inner {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 30px;
  border-radius: 0 0 30px 30px;

  @media (min-width: $tablet-width) {
    background-image: url("../../img/flags-back@1x.png"), url("../../img/back-destinations.png");
    background-repeat: no-repeat, no-repeat;
    background-position: 438px 47px, 100px 100px;

    padding-top: 72px;
    padding-bottom: 80px;

    border-radius: 0 0 60px 60px;
  }

  @media (min-width: $desktop-width) {
    height: 750px;
    padding-top: 160px;
    flex-wrap: wrap;
    align-content: flex-start;

    background-position: 1090px 90px;
  }
}

.destinations__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $desktop-width) {
    position: relative;
    align-items: flex-start;
    width: 560px;
    margin: 0;
    margin-left: 130px;
    margin-right: 170px;
    margin-bottom: 150px;
    order: -1;

    &::after {
      bottom: 0;
      left: 0;
      position: absolute;
      content: "";
      width: 560px;
      height: 80px;

      background-image: linear-gradient(to top, #edeff6, transparent);
    }
  }
}

.destinations__header {
  @include section-header-text;
  margin-bottom: 19px;
  margin-left: 50px;

  @media (min-width: $tablet-width) {
    margin-left: 75px;
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-bottom: 60px;
  }
}

.destinations__description {
  @include main-text;
  color: $main-text-color;
  margin-left: 50px;
  margin-bottom: 60px;
  width: 200px;

  @media (min-width: $tablet-width) {
    width: 340px;
    margin-bottom: 105px;
    margin-left: 75px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-bottom: 62px;
  }
}

.destinations__item {
  margin: 0 auto;
  margin-bottom: 10px;
}

.destinations__button {
  width: 270px;
  height: 62px;
  margin: 0 auto;
  margin-top: 16px;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    width: 618px;
    height: 81px;

    margin-top: 37px;
  }


  @media (min-width: $desktop-width) {
    width: 274px;
    height: 81px;
    margin-left: 0;
  }
}
