.destinations {
  @include section-width;
  position: relative;
  padding-bottom: 40px;
  background: linear-gradient(to top, $additional-hover-color 40px, $main-background-color 40px);
}

.destinations::after {
  position: absolute;
  z-index: 2;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: $main-background-color;
  border-radius: 0 0 40px 40px;
}


.destinations__inner {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  border-radius: 0 0 40px 40px;

  @media (min-width: $desktop-width) {
    height: 750px;
    padding-top: 160px;
    flex-wrap: wrap;
  }
}

.destinations__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $desktop-width) {
    align-items: flex-start;
    width: 560px;
    margin: 0;
    margin-left: 130px;
    margin-right: 170px;
    margin-bottom: 150px;
    order: -1;
  }
}

.destinations__header {
  @include section-header-text;
  margin-left: 50px;

  @media (min-width: $tablet-width) {
    margin-left: 75px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-bottom: 60px;
  }
}

.destinations__description {
  @include main-text;
  color: $main-text-color;
  margin-left: 50px;
  margin-bottom: 65px;
  width: 200px;

  @media (min-width: $tablet-width) {
    margin-bottom: 110px;
  }

  @media (min-width: $desktop-width) {
    width: 340px;
    margin: 0;
    margin-bottom: 100px;
  }
}

.destinations__item {
  margin: 0 auto;
  margin-bottom: 10px;
}

.destinations__button {
  width: 270px;
  height: 62px;
  margin: 0 auto;
  margin-top: 25px;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    width: 618px;
    height: 81px;
  }


  @media (min-width: $desktop-width) {
    width: 274px;
    height: 81px;
    margin-left: 0;
  }
}
