.filter-results-container {
  width: 270px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 688px;
  }

  @media (min-width: $desktop-width) {
    width: 1320px;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
