.found-companions {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $desktop-width) {
    width: 950px;
  }
}

.found-companions__button {
  position: relative;
  margin-top: 25px;
  padding-left: 30px;

  font-family: $main-ffamily;
  font-size: 17px;
  font-weight: $bold;
  line-height: 1.76;
  text-align: left;
  text-transform: uppercase;
  color: $accent-title-color;

  border: none;
  background: none;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin-top: 50px;
    padding-left: 40px;

    font-size: $detail-fsize-tablet;
  }

  &::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    top: 5px;
    left: 0;

    background-image: url("../../img/show-more-plus.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      width: 27px;
      height: 27px;
      top: 3px;
    }
  }
}

.found-companions__item {
  margin-bottom: 10px;
}

.found-companions__pagination {
  margin-top: 25px;
  margin-bottom: 46px;

  @media (min-width: $tablet-width) {
    margin-top: 50px;
    margin-bottom: 62px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 70px;
    margin-bottom: 77px;
  }
}
