.found-companion {
  width: 270px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  background-color: $additional-background-color;
}

.found-companion__name {
  font-family: $main-ffamily;
  font-size: 20px;
  font-weight: $bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: $additional-accent-color;
}


.found-companion__tags,
.found-companion-countries__description,
.found-companion__transport-description {
  font-family: $main-ffamily;
  font-size: 15px;
  font-weight: $normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: $main-text-color;
}

.found-companion-countries__name {
  font-family: $main-ffamily;
  font-size: 15px;
  font-weight: $medium;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  color: $additional-accent-color;
}

.found-companion__photo-wrapper {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

@media (min-width: $tablet-width) {
  .found-companion {
    width: 688px;
  }

  .found-companion__photo-wrapper {
    width: 190px;
    height: 190px;
    border-radius: 10px;
  }
}

@media (min-width: $desktop-width) {
  .found-companion {
    width: 950px;
  }

  .found-companion__photo-wrapper {
    width: 285px;
    height: 285px;
    border-radius: 0;
  }
}
