.found-companion {
  position: relative;
  width: 270px;
  padding: 20px;

  background-color: $additional-background-color;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    width: 688px;
    padding: 35px;
    display: flex;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    width: 950px;
    padding: 0;
    height: 285px;
  }
}

.found-companion__photo-wrapper {
  position: absolute;
  top: 15px;
  left: 18px;
  overflow: hidden;
  width: 70px;
  height: 70px;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    position: relative;
    top: auto;
    left: auto;
    flex-shrink: 0;
    width: 190px;
    height: 190px;
    border-radius: 10px;
    margin-right: 33px;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    height: 285px;
    border-radius: 20px 0 0 20px;
  }
}

.found-companion__details {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    padding-top: 45px;
    padding-bottom: 45px;
    margin-left: 55px;
  }
}

.found-companion__name {
  position: relative;
  display: inline-block;
  width: 80px;
  margin: 0;
  padding-left: 85px;
  margin-bottom: 40px;

  vertical-align: top;
  font-family: $main-ffamily;
  font-size: $detail-fsize-tablet;
  font-weight: $bold;
  line-height: 1;
  text-align: left;
  color: $additional-accent-color;

  @media (min-width: $tablet-width) {
    width: auto;
    padding-left: 0;
    padding-right: 30px;
    margin-bottom: 20px;
    font-size: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 70px;
    margin-bottom: 10px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    left: 225px;
    top: 5px;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      left: auto;
      right: 0;
      top: 10px;
      width: 7px;
      height: 7px;
    }

    @media (min-width: $desktop-width) {
      left: -25px;
      right: auto;
      top: 10px;
      width: 7px;
      height: 7px;
    }
  }

  &--offline::before {
    background-color: $offline-color;
  }

  &--online::before {
    background-color: $online-color;
  }
}

.found-companion__like {
  position: absolute;
  content: "";
  width: 31px;
  height: 31px;
  left: 70px;
  top: 55px;
  background-color: $main-background-color;
  border-radius: 50%;

  &--liked {
    background-color: $error-additional-color;
  }

  &::before {
    position: absolute;
    content: "";
    width: 13px;
    height: 11px;
    left: 9px;
    top: 10px;
    background-image: url("/img/heart.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      width: 20px;
      height: 17px;
      left: 16px;
      top: 17px;
    }
  }

  &--liked::before {
    background-image: url("/img/heart-active.svg");
  }

  @media (min-width: $tablet-width) {
    position: relative;
    top: auto;
    left: auto;
    width: 50px;
    height: 50px;
  }
}

.found-companion__likes {
  display: inline-block;
  position: absolute;
  content: "";
  left: 105px;
  top: 65px;
  width: 40px;
  height: 15px;
  vertical-align: middle;

  color: $additional-accent-color;
  font-size: $detail-fsize-mobile;
  font-weight: $bold;

  @media (min-width: $tablet-width) {
    height: 50px;
    width: 70px;
    padding-top: 15px;
    margin-left: 9px;
    position: relative;
    top: auto;
    left: auto;

    font-size: $detail-fsize-tablet;
  }
}


.found-companion__tags,
.found-companion__countries-description,
.found-companion__transport-description {
  margin: 0;
  margin-bottom: 15px;
  font-family: $main-ffamily;
  font-size: 15px;
  font-weight: $normal;
  line-height: 1.2;
  text-align: left;
  color: $main-text-color;
}

.found-companion__tags {
  display: inline-block;
  vertical-align: middle;
  width: 170px;
  padding: 0;
  padding-left: 8px;
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    width: 230px;
    margin-bottom: 45px;
    margin-right: 40px;
    font-size: $detail-fsize-tablet;
  }
}

.found-companion__countries {
  position: relative;
  width: 100%;
  padding-left: 8px;

  @media (min-width: $tablet-width) {
    order: 3;
    width: 600px;
    margin-left: -220px;
  }

  @media (min-width: $desktop-width) {
    order: 1;
    margin-left: 0;
    min-height: 140px;
  }

  &::before {
    z-index: 2;
    position: absolute;
    content: "";
    top: 7px;
    left: -25px;
    width: 280px;
    height: 2px;
    background-color: $main-background-color;

    @media (min-width: $tablet-width) {
      width: 700px;
      left: -45px;
    }

    @media (min-width: $desktop-width) {
      height: 187px;
      width: 1px;
      left: -25px;
    }
  }
}

.found-companion__countries-description {
  position: relative;
  z-index: 3;
  width: 120px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: $additional-background-color;

  @media (min-width: $tablet-width) {
    margin-left: 35px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.found-companion__countries-list {
  @include reset-list;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.found-companion__country-name {
  font-family: $main-ffamily;
  font-size: 15px;
  font-weight: $medium;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  color: $additional-accent-color;

  @media (min-width: $tablet-width) {
    font-size: $detail-fsize-tablet;
    margin-right: 25px;
  }
}

.found-companion__country-flag {
  width: 26px;
  height: 18px;
  margin-right: 15px;

  @media (min-width: $tablet-width) {
    width: 35px;
    height: 24px;
  }
}

.found-companion__transport {
  width: 170px;
  margin-bottom: 20px;
  padding-left: 8px;

  @media (min-width: $tablet-width) {
    width: 25px;
    position: absolute;
    right: 50px;
    top: 0;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: auto;
    right: auto;
    width: 150px;
    order: 2;
  }
}

.found-companion__transport-description {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.found-companion__transport-list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.found-companion__level {
  @media (min-width: $tablet-width) {
    position: absolute;
  }
}

.found-companion__like-button-wrapper {
  display: flex;
}

.found-companion__button {
  width: 230px;
  height: 40px;
  border-radius: 20px;

  text-transform: uppercase;
  text-align: center;
  padding-top: 13px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    width: 148px;
    height: 50px;
    padding-top: 16px;
    border-radius: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}
