.guide {
  width: 320px;
  margin: 0 auto;
  background-color: $additional-hover-color;
}

.guide__inner {
  width: 320px;
  margin: 0 auto;
  display: flex;
}

.guide__list {
  @include reset-list;
  @include container;
  display: flex;
  flex-direction: column;
}

.guide__item {
  box-sizing: border-box;
  width: 270px;
  min-height: 80px;
  padding-left: 25px;
  padding-top: 20px;
  padding-right: 95px;


  font-family: $main-ffamily;
  font-weight: $bold;
  font-size: 18px;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;

  color: $additional-accent-color;
}

.guide__item:nth-of-type(1) {
  background-color: $accent-hover-color;
}

.guide__item:nth-of-type(2) {
  background-color: $accent-secondary-color;
}

.guide__item:nth-of-type(3) {
  background-color: $accent-hover-color;
}


.guide__item:nth-of-type(4) {
  background-color: $accent-color;
}

@media (min-width: $tablet-width) {
  .guide {
    width: 768px;
  }

  .guide__inner {
    width: 768px;
  }

  .guide__list {
    width: 688px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .guide__item {
    width: 334px;
  }
}

@media (min-width: $desktop-width) {
  .guide {
    width: 1440px;
  }

  .guide__inner {
    width: 1440px;
  }

  .guide__item {
    width: 315px;
  }
}
