.guide {
  background-color: $additional-hover-color;
}

.guide__list {
  @include reset-list;
  @include container;
}

.guide__item {
  box-sizing: border-box;
  min-height: 80px;
  padding-left: 25px;
  padding-top: 20px;
  padding-right: 95px;


  font-family: $main-ffamily;
  font-weight: $bold;
  font-size: 18px;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;

  color: $additional-accent-color;
}

.guide__item:nth-of-type(1) {
  background-color: $accent-hover-color;
}

.guide__item:nth-of-type(2) {
  background-color: $accent-secondary-color;
}

.guide__item:nth-of-type(3) {
  background-color: $accent-hover-color;
}


.guide__item:nth-of-type(4) {
  background-color: $accent-color;
}
