.header {
  @include section-width;
  color: $additional-background-color;
  background-color: $additional-accent-color;
}

.header__inner {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 43px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.header__top {
  display: flex;
  justify-content: space-between;
}

.header__top-login {
  display: none;

  @media (min-width: $tablet-width) {
    width: 188px;
    height: 50px;
    padding-top: 15px;
    padding-left: 0;
    display: inline-block;
    vertical-align: middle;

    font-size: $detail-fsize-tablet;
    text-transform: uppercase;
    text-align: center;
    border-radius: 25px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header__nav-toggle {
  width: 25px;
  margin-left: auto;
  background-color: $additional-accent-color;
  border: none;

  @media (min-width: $tablet-width) {
    margin-left: 170px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header__nav-toggle svg {
  fill: $additional-background-color;
}
