.location {
  position: relative;
  z-index: 8;
  margin-top: -60px;
  padding-top: 60px;

  @include section-width;
  color: $additional-hover-color;
  background-color: $accent-color;
  border-radius: 0 0 30px 30px;

  @media (min-width: $tablet-width) {
    border-radius: 0 0 60px 60px;
  }
}

.location__inner {
  padding-top: 18px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 35px;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 43px;
    padding-bottom: 85px;

    border-radius: 0 0 60px 60px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    padding-left: 132px;
    padding-right: 134px;
    padding-bottom: 60px;
    padding-top: 59px;
  }
}

.location__address {
  position: relative;
  width: 205px;
  padding-left: 60px;
  margin-bottom: 31px;

  font-size: $main-fsize-mobile;
  font-weight: $bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-left: 93px;

    margin-bottom: 63px;

    font-size: 28px;
    font-weight: bold;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    margin-left: 20px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    background-color: #121936;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 67px;
      height: 67px;
      top: -25px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    top: 10px;
    left: 16px;
    width: 14px;
    height: 22px;
    background-image: url("../../img/contacts-location.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      width: 21px;
      height: 31px;
      top: -6px;
      left: 24px;
    }
  }
}

.location__button {
  min-width: 270px;

  @media (min-width: $tablet-width) {
    min-width: 618px;
  }

  @media (min-width: $desktop-width) {
    min-width: 324px;
  }
}
