.location {
  position: relative;

  @include section-width;
  color: $additional-hover-color;
  background: linear-gradient(to top, transparent 40px, $accent-color 40px);

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: $accent-color;
    border-radius: 0 0 40px 40px;
  }
}

.location__inner {
  padding: 35px 25px;

  @media (min-width: $tablet-width) {
    padding-left: 75px;
    padding-bottom: 85px;
  }
}

.location__address {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.location__address-text {
  display: inline-block;
  vertical-align: middle;
  width: 145px;
  font-size: $main-fsize-mobile;
  font-weight: $bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
}

.location__address-icon {
  width: 45px;
  height: 45px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $additional-hover-color;
  border-radius: 50%;
}

.location__address-icon svg {
  fill: $accent-color;
}

.location__button {
  position: relative;
  z-index: 2;
  width: 270px;
  margin: 0 auto;
  padding-left: 25px;
  padding-top: 20px;
  border: 3px solid $additional-hover-color;
}
