.my-plans {
  position: relative;
  margin-top: -60px;
  background-color: $additinal-detail-color;
  border-radius: 30px 30px 0 0;
  color: $accent-title-color;
  padding-bottom: 60px;

  @media (min-width: $tablet-width) {
    border-radius: 60px 60px 0 0;
  }
}

.my-plans__inner {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 30px;
  padding-bottom: 35px;

  border-radius: 30px 30px 0 0;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 72px;

    border-radius: 60px 60px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 125px;
    padding-right: 60px;
    padding-bottom: 62px;
  }
}

.my-plans__header {
  margin: 0;
  margin-bottom: 28px;
  font-size: $header-fsize-mobile;
  font-weight: $bold;
  line-height: 1;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 1.39;
  }
}

.my-plans__list {
  @include reset-list;
  display: flex;
  flex-direction: column;

  counter-reset: plans;
}

.my-plans__item {
  min-width: 270px;
  padding: 24px;
  padding-bottom: 23px;
  display: flex;
  flex-direction: column;

  background-color: $additional-background-color;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    padding-top: 29px;
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 0;
    min-width: 618px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    align-items: center;

    padding-top: 25px;
    padding-bottom: 23px;
  }
}

.my-plans__item:nth-of-type(1) {
  margin-bottom: 10px;

  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
  }
}

.my-plans__countries {
  position: relative;

  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  padding-left: 17px;

  font-size: $main-fsize-mobile;
  font-weight: $bold;
  line-height: 1;

  &::before {
    position: absolute;
    counter-increment: plans;
    content: counter(plans) ".";
    top: 0;
    left: 0;
    width: 12px;
    height: 13px;
    font-family: $main-ffamily;
    font-size: $main-fsize-mobile;
    font-weight: $medium;
    line-height: 1;
    letter-spacing: 1.6px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    padding-left: 0;
    font-size: $header-fsize-mobile;
    line-height: 2.08;

    &::after {
      position: absolute;
      content: "";
      width: 619px;
      height: 1px;
      left: -25px;
      bottom: -34px;
      background-color: $additinal-detail-color;
    }

    &::before {
      left: auto;
      right: 0;
      top: 10px;
      font-size: $detail-fsize-tablet;
      line-height: 0.9;
      letter-spacing: 2px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 0;
    margin-right: auto;
    padding-left: 52px;

    &::after {
      display: none;
    }

    &::before {
      right: auto;
      left: 0;
      top: 16px;
    }
  }
}

.my-plans__companions,
.my-plans__dates {
  font-size: $detail-fsize-mobile;
  font-weight: $medium;
  line-height: 1;
  letter-spacing: 1.4px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: $detail-fsize-tablet;
    line-height: 0.9;
    letter-spacing: 2px;
  }
}

.my-plans__dates {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 190px;
    margin-bottom: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.my-plans__companions {
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: 160px;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 25px;
  }
}

.my-plans__change {
  font-size: $detail-fsize-mobile;
  font-weight: $medium;
  line-height: 1.29;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.1);
  }

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-left: auto;

    font-size: $detail-fsize-tablet;
    line-height: 0.9;
    letter-spacing: 2px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 130px;
  }
}
