.nav-menu {
  z-index: 10;
  width: $mobile-width;
  min-height: 75px;
  margin-left: -25px;

  padding-top: 50px;
  padding-bottom: 40px;
  padding-left: 25px;
  padding-right: 25px;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 90px;

    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    width: 920px;
    padding: 0;
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    margin-left: 145px;

    background-color: $additional-accent-color;
  }
}

.nav-menu__close {
  width: 19px;
  height: 19px;
  background-color: $main-text-hover-color;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.nav-menu__site-list {
  margin-bottom: 55px;

  @media (min-width: $tablet-width) {
    margin-bottom: 170px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}


.nav-menu__contacts-list {
  margin-bottom: 60px;

  @media (min-width: $tablet-width) {
    margin-bottom: 150px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.nav-menu__social-list {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }
}
