.nav-menu {
  z-index: 10;
  position: absolute;
  top: 70px;
  left: 0;
  width: $mobile-width;
  min-height: 75px;

  padding-top: 50px;
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $additional-background-color;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    position: relative;
    display: flex;
    margin-left: 145px;

    background-color: $additional-accent-color;

    &::after {
      position: absolute;
      content: "";
      width: 60px;
      height: 2px;
      left: -105px;
      top: 65px;
      background-color: $additional-background-color;
    }
  }
}

.nav-menu__close {
  width: 19px;
  height: 19px;
  background-color: $main-text-hover-color;
}


@media (min-width: $desktop-width) {
  .nav-menu__close {
    display: none;
  }
