.navigation {
  position: relative;

  @include section-width;
  color: $additional-background-color;
  background-color: $additional-accent-color;
  border-radius: 0 0 40px 40px;
}

.navigation__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 40px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 12px;

  @media (min-width: $tablet-width) {
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.navigation__title {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: $main-ffamily;
  font-weight: $bold;
  font-size: 36px;
  line-height: 1.17;
  color: $additional-background-color;

  @media (min-width: $tablet-width) {
    font-size: 60px;
  }

  &::after {
    position: absolute;
    z-index: 3;
    content: "";
    width: 100%;
    height: 5px;
    border-radius: 2.4px;
    background-color: $accent-hover-color;
    bottom: -13px;
    left: 0;

    @media (min-width: $tablet-width) {
      height: 8px;
      border-radius: 4px;
      bottom: -68px;
    }
  }
}

.navigation__back-link {
  display: none;

  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    padding-right: 61px;
    font-family: $main-ffamily;
    font-weight: $bold;
    font-size: $detail-fsize-tablet;
    color: $additional-background-color;
    line-height: 1.2;
    text-transform: uppercase;

    &::after {
      position: absolute;
      content: "";
      width: 32px;
      height: 16px;
      background-image: url("../../img/return.svg");
      top: 2px;
      right: -20px;
    }
  }
}
