.plan {
  @include section-width;
  border-radius: 0 0 40px 40px;
}


.plan__inner {
  padding: 50px 82px 26px 35px;
}

.plan__features {
  @include reset-list;
  display: flex;
  flex-direction: column;
}

.plan__feature-item {
  display: inline-block;
  vertical-align: center;
  width: 185px;

  font-family: $main-ffamily;
  font-size: $main-fsize-mobile;
  font-weight: $light;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: left;
  color: $main-text-color;
}

.plan__button {
  background: none;
  padding: 0;
}

.plan__button:hover,
.plan__button:focus {
  background: none;
  opacity: 0.7;
}

.plan__button:active {
  background: none;
  opacity: 0.3;
}

.plan__button-business {
  width: 220px;
  margin: 0 auto;
  font-family: $main-ffamily;
  font-size: $main-fsize-mobile;
  font-weight: $bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: $additional-hover-color;

  @media (min-width: $tablet-width) {
    position: relative;
    padding-left: 80px;

    &::before {
      position: absolute;
      content: "";
      top: 10px;
      left: 0px;
      width: 67px;
      height: 67px;
      background-color: $accent-background-color;
      border-radius: 50%;
    }

    &::after {
      position: absolute;
      content: "";
      top: 30px;
      left: 27px;
      width: 17px;
      height: 21px;
      background-image: url(../../img/business.svg);
      background-repeat: no-repeat;
    }
  }
}

.plan__button-close {
  font-family: $main-ffamily;
  font-size: $main-fsize-mobile;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: $additional-accent-color;
}

@media (min-width: $tablet-width) {
  .plan__inner {
    padding: 130px 150px 40px 85px;
  }

  .plan__feature-item {
    width: 562px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: $main-fsize-tablet;
  }

  .plan__button {
    font-size: $detail-fsize-tablet;
  }

  .plan__button-business {
    width: 275px;
  }
}

@media (min-width: $desktop-width) {
  .plan__feature-item {
    width: 812px;
  }
}
