.profile {
  background-color: $main-background-color;
}

.profile__inner {
  padding: 20px 25px 30px 25px;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 64px 75px 50px 75px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 124px 50px 60px;
  }
}

.profile__photo-wrapper {
  width: 99px;
  height: 100px;

  @media (min-width: $tablet-width) {
    width: 94px;
    height: 94px;
  }

  @media (min-width: $desktop-width) {
    width: 190px;
    height: 190px;
  }
}

.profile__photo {
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    border-radius: 10px;
  }

  @media (min-width: $desktop-width) {
    border-radius: 0;
  }
}

.profile__field-name {
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;

  color: #1d2e5b;
  font-size: 16px;
  font-weight: $bold;
  line-height: 1.13;
  text-align: center;
  text-transform: uppercase;

  background-color: #edeff6;

  @media (min-width: $tablet-width) {
    padding-left: 18px;
    padding-right: 18px;

    font-size: 20px;
    font-weight: $medium;
    line-height: 0.9;
    letter-spacing: 2px;
  }
}

.profile__button {
  margin-bottom: 20px;
  background-color: #dfe3f0;

  &:hover,
  &:focus {
    background-color: #d1d7e9;
  }

  &:active {
    background-color: #d1d7e9;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;

    border-radius: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;
    min-width: 190px;
  }
}

.profile__text-hide-desktop {
  @media (min-width: $desktop-width) {
    font-size: 0;
  }
}
