.profile {
  background-color: $main-background-color;
}

.profile__inner {
  position: relative;
  padding: 20px 25px 30px 25px;

  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 64px 75px 50px 75px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 124px 50px 60px;

    flex-direction: row;
    flex-wrap: wrap;
  }
}

.profile__level-photo-wrapper {
  margin-bottom: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: -190px;
    right: 220px;
  }
}

.profile__level {
  position: relative;

  @media (min-width: $desktop-width) {
    margin-right: 45px;
  }
}

.profile__photo-wrapper {
  width: 99px;
  height: 100px;

  @media (min-width: $tablet-width) {
    width: 94px;
    height: 94px;
  }

  @media (min-width: $desktop-width) {
    width: 190px;
    height: 190px;
  }
}

.profile__photo {
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    border-radius: 10px;
  }

  @media (min-width: $desktop-width) {
    border-radius: 0;
  }
}

.profile__field-name {
  position: relative;
  z-index: 10;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  color: #1d2e5b;
  font-size: 16px;
  font-weight: $bold;
  line-height: 1.13;
  text-align: center;
  text-transform: uppercase;

  background-color: #edeff6;

  @media (min-width: $tablet-width) {
    padding-left: 18px;
    padding-right: 18px;

    font-size: 20px;
    font-weight: $medium;
    line-height: 0.9;
    letter-spacing: 2px;
  }
}


.profile__button {
  margin-bottom: 20px;
  background-color: #dfe3f0;

  &:hover,
  &:focus {
    background-color: #d1d7e9;
  }

  &:active {
    background-color: #d1d7e9;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;

    border-radius: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 65px;
    width: 190px;
    margin-left: 971px;
  }
}

.profile__text-hide-desktop {
  @media (min-width: $desktop-width) {
    font-size: 0;
  }
}

.profile__tags {
  position: relative;
  display: flex;
  flex-direction: column;

  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;

    flex-direction: column-reverse;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }
}

.profile__tags-description {
  top: 10px;

  @media (min-width: $tablet-width) {
    top: auto;
    bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 15px;
  }
}

.profile__tags-textarea {
  box-sizing: border-box;
  width: 270px;
  height: 89px;

  padding: 25px;

  resize: none;

  color: #444444;
  font-size: 16px;
  line-height: 1.38;

  background-color: $main-background-color;
  border: 1px solid #cbced9;
  border-radius: 10px;

  overflow: hidden;

  @media (min-width: $tablet-width) {
    width: 618px;
    height: 94px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 35px;
    padding-bottom: 35px;

    font-size: 20px;
    line-height: 1.2;
  }

  @media (min-width: $desktop-width) {
    width: 730px;
    height: 94px;
  }

  &:hover {
    border-color: #aeb4cb;
  }

  &:focus,
  &:active {
    border-color: #161c35;
    outline: none;
  }
}


.profile__transport {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;

  width: 270px;
  height: 63px;
  border: 1px solid #cbced9;
  border-radius: 10px;
  margin-bottom: 63px;

  @media (min-width: $tablet-width) {
    position: absolute;
    padding-top: 25px;
    padding-bottom: 25px;
    top: 60px;
    left: 250px;
    width: 308px;
    height: 94px;
    flex-direction: column-reverse;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: auto;
    left: auto;
    margin-left: auto;
    width: 384px;
    height: 94px;
  }
}

.profile__transport-description {
  min-width: 110px;
  top: -8px;

  @media (min-width: $tablet-width) {
    top: auto;
    bottom: -30px;
  }
}

.profile__transport-list {
  margin: 0 auto;
}
