.section-header {
  color: $accent-hover-color;
  font-family: $main-ffamily;
  font-weight: $bold;
  font-size: 24px;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
}

.section-slogan {
  font-weight: $bold;
}

.section-description {
  font-weight: $light;
}
