.sign-up {
  z-index: 9;
  position: relative;
  margin-top: -60px;
  padding-top: 60px;

  @include section-width;
  background-color: $additional-hover-color;
  border-radius: 0 0 30px 30px;

  @media (min-width: $tablet-width) {
    border-radius: 0 0 60px 60px;
  }
}

.sign-up__inner {
  padding-top: 72px;
  padding-bottom: 69px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 30px 30px;

  @media (min-width: $tablet-width) {
    padding-top: 76px;
    padding-left: 74px;
    padding-right: 74px;
    padding-bottom: 167px; // CHANGE LATER
    border-radius: 0 0 60px 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 105px;
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 173px; // CHANGE LATER
  }
}

.sign-up__header {
  @include section-header-text;

  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 56px;
  }
}

.sign-up__description {
  @include main-text;
  width: 200px;
  margin-bottom: 30px;
  color: $additional-background-color;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 610px;
    margin-bottom: 64px;
  }
}

.sign-up__link {
  color: $accent-color;
  text-decoration: underline;
}

.sign-up__form {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
  }
}

.sign-up__input {
  background-color: $additional-background-color;
  min-height: 62px;
  width: 210px;
  margin: 0 auto;
  padding: 0;
  padding-left: 24px;

  font-size: $additional-fsize-mobile;

  border: none;
  border-radius: 10px 0 0 10px;

  @media (min-width: $tablet-width) {
    min-height: 81px;
    width: 536px;

    font-size: $accent-fsize-tablet;
  }

  @media (min-width: $desktop-width) {
    width: 850px;
  }
}

.sign-up__contact-us {
  width: 220px;

  @include main-text;
  color: $additional-background-color;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 610px;
  }
}

.sign-up__button {
  min-width: 62px;
  min-height: 62px;
  border-radius: 0 10px 10px 0;
  font-size: 0;

  @media (min-width: $tablet-width) {
    min-width: 82px;
    min-height: 81px;
    padding: 14px;
  }

  @media (min-width: $desktop-width) {
    min-width: 325px;
    font-size: $accent-fsize-tablet;
  }
}
