.sign-up {
  position: relative;

  @include section-width;
  background: linear-gradient(to top, $accent-color 40px, $additional-hover-color 40px);

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: $additional-hover-color;
    border-radius: 0 0 40px 40px;
  }
}

.sign-up__inner {
  padding-top: 70px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 40px 40px;
}

.sign-up__header {
  @include section-header-text;
}

.sign-up__description {
  @include main-text;
  width: 200px;
  margin-bottom: 30px;
  color: $additional-background-color;
  text-align: center;
}

.sign-up__link {
  color: $accent-color;
  text-decoration: underline;
}

.sign-up__form {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}

.sign-up__input {
  background-color: $additional-background-color;
  min-height: 62px;
  width: 210px;
  margin: 0 auto;
  padding: 0;
  padding-left: 24px;

  border: none;
  border-radius: 10px 0 0 10px;
}

.sign-up__contact-us {
  width: 210px;

  @include main-text;
  color: $additional-background-color;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 610px;
  }
}

.sign-up__button {
  width: 62px;
  height: 62px;
  border-radius: 0 10px 10px 0;
  font-size: 0;
}

@media (min-width: $tablet-width) {
  .sign-up__description {
    width: 610px;
  }

  .sign-up__input {
    min-height: 81px;
    width: 536px;
  }

  .sign-up__button {
    width: 81px;
    height: 81px;
    border-radius: 0 10px 10px 0;
    font-size: 0;
  }
}

@media (min-width: $desktop-width) {
  .sign-up__input {
    width: 850px;
  }

  .sign-up__button {
    width: 281px;
    height: 81px;
    font-size: $accent-fsize-tablet;
  }
}
