.site-list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-list__link {
  font-family: $main-ffamily;
  font-size: 30px;
  font-weight: $medium;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: $additional-hover-color;
}


@media (min-width: $tablet-width) {
  .site-list {
    align-items: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    flex-direction: row;
    align-items: center;
  }

  .site-list__item {
    margin-right: 35px;
  }

  .site-list__link {
    color: $additional-background-color;
  }
}
