.site-list__link {
  font-family: $main-ffamily;
  font-size: 30px;
  font-weight: $medium;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: $additional-hover-color;
}
