.trip-form__steps {
  @include reset-list;
}

.trip-form__step {
  min-width: 270px;
  padding-left: 25px;
  padding-right: 24px;
  padding-top: 25px;
  padding-bottom: 22px;
  margin-bottom: 10px;

  background-color: $additional-background-color;
  border-radius: 20px;

  @media (min-width: $tablet-width) {
    min-width: 618px;
    padding-left: 43px;
    padding-right: 43px;
    padding-top: 49px;
    padding-bottom: 55px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1320px;
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 100px;
    padding-bottom: 105px;
    margin-bottom: 44px;
  }
}


.trip-form__break {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.trip-form__field {
  border: none;
}

.trip-form__month-wrapper {
  position: relative;
  margin-bottom: 20px;
  display: flex;

  &::before {
    position: absolute;
    content: "";
    width: 221px;
    height: 1px;
    background-color: #d4d9eb;
    top: -10px;
    left: 0;
  }

  &::after {
    position: absolute;
    content: "";
    width: 221px;
    height: 1px;
    background-color: #d4d9eb;
    top: 30px;
    left: 0;
  }
}

.trip-form__month {
  margin: 0;
  font-size: 20px;
  font-weight: $bold;
  line-height: 1;
  color: #1d2e5b;
}

.trip-form__month-button {
  width: 9px;
  height: 17px;
  background-repeat: no-repeat;
  border: none;
  opacity: 0.3;

  cursor: pointer;
}

.trip-form__month-button--prev {
  margin-right: auto;
  background-image: url("../img/month-arrow-left.svg");
}

.trip-form__month-button--next {
  margin-left: auto;
  background-image: url("../img/month-arrow-right.svg");
}

.trip-form__days {
  @include reset-list;

  display: flex;
}

.trip-form__day {
  width: 30px;
  height: 30px;

  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  color: #444444;

  &--weekend {
    color: #ff5c23;
  }

  &--tablet {
    display: none;

    @media (min-width: $tablet-width) {
      display: inline;
    }
  }

  @media (min-width: $tablet-width) {
    width: 77px;
    height: 70px;

    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 1.8px;
  }
}

.trip-form__dates {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;

  margin-bottom: 23px;
}

.trip-form__date {
  width: 30px;
  height: 30px;
  padding-top: 7px;
  padding-bottom: 7px;

  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: rgba(68, 68, 68, 0.3);

  border: 1px solid #cbced9;

  cursor: pointer;

  &--selected {
    color: $additional-background-color;
    background-color: #1d2e5b;
  }

  @media (min-width: $tablet-width) {
    width: 76px;
    height: 70px;
    padding-top: 28px;
    padding-bottom: 28px;

    font-size: 20px;
    font-weight: $medium;
    line-height: 0.9;
    letter-spacing: 2px;
  }
}

.trip-form__link-next {
  min-width: 230px;
  min-height: 40px;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 17px;
  line-height: 1.76;
  text-align: center;
  text-transform: uppercase;
  border-radius: 20px;

  &::before {
    display: none;
  }

  @media (min-width: $tablet-width) {
    text-transform: none;
    border-radius: 10px;
  }
}


/* SELECT */
.trip-form__select {
  position: relative;
  display: flex;

  margin-bottom: 22px;
}

.trip-form__select-value-wrapper {
  position: relative;
  height: 42px;
  padding-top: 13px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 13px;

  border: 1px solid #cbced9;
  border-radius: 10px;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &::before {
    content: "";
    top: 15px;
    right: -4px;
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #1d2e5b;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 15px;
      height: 15px;
      top: 25px;
      right: -30px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 370px;
    height: 70px;
    padding-top: 27px;
    padding-left: 27px;
    padding-right: 60px;
    padding-bottom: 24px;

    margin-right: 50px;
  }
}

.trip-form__select-value {
  padding-right: 15px;
  font-size: 14px;
  font-weight: $medium;
  line-height: 1.29;
  letter-spacing: 1.4px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 0.9;
    letter-spacing: 2px;
  }
}

.trip-form__select-flag-wrapper {
  flex-shrink: 0;
  width: 37px + 16px;
  height: 26px + 16px;
  padding: 8px;
  border: 1px solid #cbced9;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 70px;
    height: 47px;
    padding-top: 12px;
    padding-bottom: 11px;
    border: none;

    margin-right: 10px;
  }
}

.trip-form__select-button {
  border: none;
  cursor: pointer;

  &--select {
    width: 12px;
    height: 7px;
    background-color: red;
  }

  &--delete {
    position: absolute;
    top: -8px;
    right: -8px;
    content: "";
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: #edeff6;
    background-image: url("../img/close.svg");
    background-repeat: no-repeat;
    background-size: 9px 9px;
    background-position: center;

    @media (min-width: $tablet-width) {
      position: relative;
      top: auto;
      right: auto;
      background-color: transparent;
      background-size: 17px 17px;
      padding-top: 30px;
      padding-bottom: 30px;
      width: 17px;
      height: 17px;
    }
  }
}

.trip-form__select--empty .trip-form__select-value-wrapper {
  width: 100%;
}

.trip-form__select--empty .trip-form__select-value-wrapper::before {
  right: 49px;
  background-color: transparent;
  border: 1px solid #cbced9;
}

.trip-form__add-country {
  width: 220px;
  margin: 0 auto;
  margin-bottom: 25px;
  background-color: #edeff6;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 50px;

  font-size: 14px;
  font-weight: $medium;
  line-height: 1.29;
  text-transform: uppercase;
  text-align: left;

  border: none;
  border-radius: 5px;

  cursor: pointer;
}
