.user-list {
  @include reset-list;
  display: flex;
  align-items: center;
}

.user-list__login {
  width: 270px;
  height: 50px;
  padding-top: 15px;
  border-radius: 25px;
  text-transform: uppercase;
  text-align: center;
}
