@font-face {
  font-family: "BloggerSans";
  font-weight: $normal;
  src: url("../fonts/bloggersans.woff2") format("woff2"), url("../fonts/bloggersans.woff") format("woff");
}


@font-face {
  font-family: "BloggerSans";
  font-weight: $light;
  src: url("../fonts/bloggersans-light.woff2") format("woff2"), url("../fonts/bloggersans-light.woff") format("woff");
}

@font-face {
  font-family: "BloggerSans";
  font-weight: $light;
  font-style: italic;
  src: url("../fonts/bloggersans-lightitalic.woff2") format("woff2"), url("../fonts/bloggersans-lightitalic.woff") format("woff");
}

@font-face {
  font-family: "BloggerSans";
  font-weight: $medium;
  src: url("../fonts/bloggersans-medium.woff2") format("woff2"), url("../fonts/bloggersans-medium.woff") format("woff");
}

@font-face {
  font-family: "BloggerSans";
  font-weight: $medium;
  font-style: italic;
  src: url("../fonts/bloggersans-mediumitalic.woff2") format("woff2"), url("../fonts/bloggersans-mediumitalic.woff") format("woff");
}

@font-face {
  font-family: "BloggerSans";
  font-weight: $bold;
  src: url("../fonts/bloggersans-bold.woff2") format("woff2"), url("../fonts/bloggersans-bold.woff") format("woff");
}

@font-face {
  font-family: "BloggerSans";
  font-weight: $bold;
  font-style: italic;
  src: url("../fonts/bloggersans-bolditalic.woff2") format("woff2"), url("../fonts/bloggersans-bolditalic.woff") format("woff");
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

body {
  width: 320px;
  margin: 0 auto;

  font-family: $main-ffamily;
  font-weight: $normal;
  font-size: 16px;

  color: $additional-accent-color;
  background-color: $main-background-color;
}
