@mixin reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin container {
  margin: 0 auto;
}


@mixin section-width {
  min-width: $mobile-width;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
  }
}

@mixin main-text {
  margin: 0;
  font-family: $main-ffamily;
  font-size: $main-fsize-mobile;
  font-weight: $light;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;

  @media (min-width: $tablet-width) {
    font-size: $main-fsize-tablet;
    line-height: 1.18;
  }
}

@mixin accent-text {
  margin: 0;
  font-family: $main-ffamily;
  font-size: $main-fsize-mobile;
  font-weight: $bold;
  line-height: 1.38;

  @media (min-width: $tablet-width) {
    font-size: $additional-fsize-tablet;
    line-height: 1.19;
  }
}

@mixin section-header-text {
  margin: 0;
  margin-bottom: 23px;
  color: $accent-hover-color;
  font-family: $main-ffamily;
  font-weight: $bold;
  font-size: $header-fsize-mobile;
  line-height: 1;
  text-align: left;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    font-size: $header-fsize-tablet;
  }
}
