@mixin reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin container {
  margin: 0 auto;
}


@mixin section-width {
  min-width: $mobile-width;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
  }
}
