$yellow: #ffd74b;
$yellow--dark: #ffbd30;
$orange--light: #ffa530;
$orange: #ff8d30;

$light-blue: #edeff6;
$light-blue--dark:#e2e5f2;
$blue--light: #1d2e5b;
$blue: #192144;
$blue--dark: #161c35;

$white: #ffffff;

$grey: #444444;
$grey--light: #cccccc;
